body{
    margin: 0;
    text-align: center;
    font-family: verdana, sans-serif;
    background-color: #97baca
}
.top-container{
    background-color: #97baca;
    position: relative;
    width: 100%;
    
    /* margin-top: 17%; */
    /* padding: 20px; */
    /* padding-top: 30px; */
    /* height: 200px;
    width: 200px; */
}
.nav-items{
    position: absolute;
    top: 7rem;
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    right: 30rem;
}
.nav-items a{
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}

.my-name{
    font-size: 5ch;
    margin: 0;
    padding-top: 100px;
    font-family: 'Sacramento',cursive;
}
.mountain{
    width: 70%;
}
.bottom-cloud{
    position: absolute;
    top: 35%;
    left: 30%;
}
.top-cloud{
    position: absolute;
    top: 3%;
    right: 32%;
}
.middle-container{
    /* background-color: red;
    height: 200px;
    width: 200px;
    margin-left: 200px; */
}
.bottom-container{
    /* background-color: green;
    height: 200px;
    width: 200px; */
    /* margin-left: 400px; */
}
